<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.design_pattern.sidecar_pattern.transaction.mapper.ReservationMapper">

    <insert id="insertReservation" parameterType="com.design_pattern.sidecar_pattern.transaction.dto.Reservation">
        INSERT INTO reservations (id, flight_number, passenger_name, status)
        VALUES (#{id}, #{flightNumber}, #{passengerName}, #{status})
    </insert>

    <update id="updateReservationStatus" parameterType="map">
        UPDATE reservations
        SET status = #{status}
        WHERE id = #{id}
    </update>

    <insert id="insertStepStatus" parameterType="map">
        INSERT INTO reservation_steps (reservation_id, step_name, status)
        VALUES (#{reservationId}, #{stepName}, #{status})
    </insert>

</mapper>